chat-exporter>=1.6
discord.py @git+https://github.com/Rapptz/discord.py@23852404ed86a98e0b83130662368386e76236c9 #beta
humanize>=3.10.0
discord-pretty-help>=1.3.2
uvloop==0.15.3
Flask==2.2.5
Flask-Limiter==1.4
environs==9.3.2
aiocron==1.6
